<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d94572a5e6bca2ebfa09798860601521 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d94572a5e6bca2ebfa09798860601521" ></div>
        
</body>
<script>    
    
            var map_d94572a5e6bca2ebfa09798860601521 = L.map(
                "map_d94572a5e6bca2ebfa09798860601521",
                {
                    center: [54.98818914003693, 73.36253822687316],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_eeefb101cf59925b83c95919cc1ce5bb = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_ba942685e16fd3fe484c9a3e1b54326c = L.polyline(
                [[54.9872054, 73.359974], [54.9874235, 73.3606229]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_34fd22f8e5b38b7e21b72c4a8d762e57 = L.polyline(
                [[54.9874235, 73.3606229], [54.9874301, 73.3606425]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_76d9e4fff1e3c7d05c7396c123c51e94 = L.polyline(
                [[54.9874301, 73.3606425], [54.987445, 73.3606243]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_da189f59bb49a93e9b031404a197f24d = L.polyline(
                [[54.987445, 73.3606243], [54.9879934, 73.3622453]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_26c0be08aae049fcb7a6d8ef2407caed = L.polyline(
                [[54.9879934, 73.3622453], [54.9881669, 73.362755], [54.988185, 73.3627986], [54.9882104, 73.362814], [54.9882483, 73.3627756], [54.9882655, 73.3628198]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_a83dfd00b85b10c341e12a5314ed5a86 = L.polyline(
                [[54.9882655, 73.3628198], [54.9884559, 73.3633237], [54.9885526, 73.3634172]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_fccaba05cb5c200f3827645cd6258b03 = L.polyline(
                [[54.9885526, 73.3634172], [54.988579, 73.3634913], [54.9886267, 73.3635117], [54.9887875, 73.3639049]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_e803450b85ad52e95568a86c1690f3c8 = L.polyline(
                [[54.9887875, 73.3639049], [54.9888097, 73.3639594]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_057d5d0a013b1e18e208a658ccbdb8d6 = L.polyline(
                [[54.9888097, 73.3639594], [54.9891509, 73.3648178]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_03636f796ca63c366c6e825922c65060 = L.polyline(
                [[54.9891509, 73.3648178], [54.989309, 73.364883]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var poly_line_7f83f19ad4966d066a4dc035af4ba076 = L.polyline(
                [[54.989309, 73.364883], [54.9894066, 73.3648143]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            map_d94572a5e6bca2ebfa09798860601521.fitBounds(
                [[54.9872054, 73.359974], [54.9894066, 73.364883]],
                {}
            );
        
    
            var marker_9f7730cc11fe2f1787bafa2e48932261 = L.marker(
                [54.98774, 73.358681],
                {}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var icon_a79edd3b0900d135084dfdd6d97e7a5d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9f7730cc11fe2f1787bafa2e48932261.setIcon(icon_a79edd3b0900d135084dfdd6d97e7a5d);
        
    
        var popup_3921eeb93e0045aacecd5ecf4d1de5b7 = L.popup({"maxWidth": "100%"});

        
            
                var html_90df2b6c21072a74ca25fcba41e981d4 = $(`<div id="html_90df2b6c21072a74ca25fcba41e981d4" style="width: 100.0%; height: 100.0%;">Тобольские ворота Омской крепости</div>`)[0];
                popup_3921eeb93e0045aacecd5ecf4d1de5b7.setContent(html_90df2b6c21072a74ca25fcba41e981d4);
            
        

        marker_9f7730cc11fe2f1787bafa2e48932261.bindPopup(popup_3921eeb93e0045aacecd5ecf4d1de5b7)
        ;

        
    
    
            var marker_c2af5032af488e74d69eb92c7fc7e28f = L.marker(
                [54.989373, 73.364214],
                {}
            ).addTo(map_d94572a5e6bca2ebfa09798860601521);
        
    
            var icon_5b3d96ddf64ee0d4ade31da82d16fae0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c2af5032af488e74d69eb92c7fc7e28f.setIcon(icon_5b3d96ddf64ee0d4ade31da82d16fae0);
        
    
        var popup_ed0f798a78c61c07afdda630e9ae0f10 = L.popup({"maxWidth": "100%"});

        
            
                var html_de2d9e5451b299ad8c6dda04700704e0 = $(`<div id="html_de2d9e5451b299ad8c6dda04700704e0" style="width: 100.0%; height: 100.0%;">Памятник В.И. Ленину</div>`)[0];
                popup_ed0f798a78c61c07afdda630e9ae0f10.setContent(html_de2d9e5451b299ad8c6dda04700704e0);
            
        

        marker_c2af5032af488e74d69eb92c7fc7e28f.bindPopup(popup_ed0f798a78c61c07afdda630e9ae0f10)
        ;

        
    
</script>